@model FlightDomain.Model.Country

@{
    ViewData["Title"] = "Детальна інформація";
}

<h1>Детальна інформація</h1>

<div>
    <h4>Країна</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">
        <button type="button" class="btn btn-primary">Редагувати</button>
    </a>

    <a asp-action="Index">
        <button type="button">Назад до країн</button>
    </a>

</div>
