@model IEnumerable<FlightDomain.Model.Flight>

@{
    ViewData["Title"] = "ArrivalAirport";
}

<h1>Рейси прибуття</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Назва аеропорту
            </th>
            <th>
                Назва авіарейсу
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalAiroportNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

