@model FlightDomain.Model.Airport

@{
    ViewData["Title"] = "Видалення";
}



<h1>Видалити</h1>

<h3>Ви впевнені, що хочете видалити цей об'єкт?</h3>
<div>
    <h4>Аеропорт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Видалити</button>
    </form>

    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Назад до аеропортів</button>
    </a>
</div>
